[Unit]
Description=OpenStack Murano Api
Documentation=http://docs.openstack.org/
After=postgresql.service mysql.service keystone.service rabbitmq-server.service ntp.service network.service

[Service]
User=murano
Group=murano
ExecStart=/etc/init.d/murano-api systemd-start
ExecStop=/etc/init.d/murano-api systemd-stop
PIDFile=/var/run/murano/murano-api.pid
Restart=on-failure
Type=forking

[Install]
WantedBy=multi-user.target
